@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@theme {
  --animate-scan: scan 2.5s cubic-bezier(0.4, 0, 0.2, 1) infinite;

  @keyframes scan {
    0% {
      top: -30%;
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      top: 110%;
      opacity: 0;
    }
  }
}

@layer base {
  :root {
    color-scheme: light;
  }

  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@utility ion-w-fit {
  --width: fit-content;
}
@utility ion-w-* {
  --width: --value([*]);
}

@utility ion-min-w-auto {
  --min-width: auto;
}
@utility ion-min-w-* {
  --min-width: --value([*]);
}
@utility ion-max-w-auto {
  --max-width: auto;
}
@utility ion-max-w-* {
  --max-width: --value([*]);
}

@utility ion-h-fit {
  --height: fit-content;
}
@utility ion-h-* {
  --height: --value([*]);
}

@utility ion-min-h-auto {
  --min-height: auto;
}
@utility ion-min-h-* {
  --min-height: --value([*]);
}

@utility ion-max-h-auto {
  --max-height: auto;
}
@utility ion-max-h-* {
  --max-height: --value([*]);
}

@utility ion-size-auto {
  --height: auto;
  --width: auto;
}
@utility ion-size-* {
  --height: --value([*]);
  --width: --value([*]);
}

@utility ion-min-size-auto {
  --min-height: auto;
  --min-width: auto;
}
@utility ion-min-size-* {
  --min-height: --value([*]);
  --min-width: --value([*]);
}

@utility ion-b-r-1 {
  --border-radius: 1rem;
}
@utility ion-b-r-* {
  --border-radius: --value([length]);
}

@utility ion-b-c-* {
  --border-color: --value(--color-*);
}
@utility ion-b-s-* {
  --border-style: --value([*]);
}

@utility ion-b-w-1 {
  --border-style: var(--tw-border-style);
  --border-width: 1rem;
}
@utility ion-b-w-* {
  --border-style: var(--tw-border-style);
  --border-width: --value([length]);
}

@utility ion-bg-* {
  --background: --value(--color-*);
  --background: --value([*]);
}
@utility ion-bg-transparent {
  --background: transparent;
}

@utility ion-box-shadow {
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}
@utility ion-box-shadow-* {
  --box-shadow: --value([*]);
}

@utility ion-ps {
  --padding-start: 2rem;
}
@utility ion-ps-* {
  --padding-start: --value([length]);
}

@utility ion-pe {
  --padding-end: 2rem;
}
@utility ion-pe-* {
  --padding-end: --value([length]);
}

@utility ion-pt {
  --padding-top: 2rem;
}
@utility ion-pt-* {
  --padding-top: --value([length]);
}

@utility ion-pb {
  --padding-bottom: 2rem;
}
@utility ion-pb-* {
  --padding-bottom: --value([length]);
}

@utility ion-px {
  --padding-start: 2rem;
  --padding-end: 2rem;
}
@utility ion-px-* {
  --padding-start: --value([length]);
  --padding-end: --value([length]);
}

@utility ion-py {
  --padding-top: 2rem;
  --padding-bottom: 2rem;
}
@utility ion-py-* {
  --padding-top: --value([length]);
  --padding-bottom: --value([length]);
}

@utility ion-p {
  --padding-top: 2rem;
  --padding-end: 2rem;
  --padding-bottom: 2rem;
  --padding-start: 2rem;
}
@utility ion-p-* {
  --padding-top: --value([length]);
  --padding-end: --value([length]);
  --padding-bottom: --value([length]);
  --padding-start: --value([length]);
}

@utility ion-inner-ps {
  --inner-padding-start: 2rem;
}
@utility ion-inner-ps-* {
  --inner-padding-start: --value([length]);
}

@utility ion-inner-pe {
  --inner-padding-end: 2rem;
}
@utility ion-inner-pe-* {
  --inner-padding-end: --value([length]);
}

@utility ion-inner-pt {
  --inner-padding-top: 2rem;
}
@utility ion-inner-pt-* {
  --inner-padding-top: --value([length]);
}

@utility ion-inner-pb {
  --inner-padding-bottom: 2rem;
}
@utility ion-inner-pb-* {
  --inner-padding-bottom: --value([length]);
}

@utility ion-inner-px {
  --inner-padding-start: 2rem;
  --inner-padding-end: 2rem;
}
@utility ion-inner-px-* {
  --inner-padding-start: --value([length]);
  --inner-padding-end: --value([length]);
}

@utility ion-inner-py {
  --inner-padding-top: 2rem;
  --inner-padding-bottom: 2rem;
}
@utility ion-inner-py-* {
  --inner-padding-top: --value([length]);
  --inner-padding-bottom: --value([length]);
}

@utility ion-inner-p {
  --inner-padding-top: 2rem;
  --inner-padding-end: 2rem;
  --inner-padding-bottom: 2rem;
  --inner-padding-start: 2rem;
}
@utility ion-inner-p-* {
  --inner-padding-top: --value([length]);
  --inner-padding-end: --value([length]);
  --inner-padding-bottom: --value([length]);
  --inner-padding-start: --value([length]);
}

@utility ion-spinner-c-* {
  --spinner-color: --value(--color-*);
}

@utility ion-wheel-fade-bg-rgb-white {
  --wheel-fade-background-rgb: 255, 255, 255;
}
@utility ion-wheel-fade-bg-rgb-* {
  --wheel-fade-background-rgb: --value([*]);
}

.ion-content-scroll-host::before,
.ion-content-scroll-host::after {
  position: absolute;

  width: 1px;
  height: 1px;

  content: "";
}

.ion-content-scroll-host::before {
  bottom: -1px;
}

.ion-content-scroll-host::after {
  top: -1px;
}

.transparent-dt-button::part(native) {
  background: transparent;

  height: 1.5rem;
  font-size: 0.75rem;

  padding: 0 0.5rem;

  color: gray;
}

@utility scrollbar-hidden {
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
  }
}
